{% extends 'parents/parent_base.html' %}
{% load static %}
{% block content %}

<div style="text-align:center;">
<a class="btn btn-link" href="{% url 'addchild' %}" style="text-align:center;">ADD CHILD</a></div>
<div style="text-align:center;">
<a class="btn btn-link" href="{% url 'view_child' %}" style="text-align:center;">VIEW PROGRESS</a></div>
<div style="text-align:center;">
<a class="btn btn-link" href="{% url 'addchild' %}" style="text-align:center;">EDIT CHILD</a></div>
<br><br><br><br>





{% endblock content %}
